/* src/styles/fonts.css */
@font-face {
    font-family: 'FT Milky';
    src: url('/fonts/FTMilky-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FT Milky Free';
    src: url('/fonts/FTMilky-FREE.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}
