h1 {
    font-size: 3.2em;
    font-family: 'FT Milky', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    line-height: 1.1;
}

h2 {
    color: orange;
    font-family: 'FT Milky', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 4em;
}

h3 {
    font-family: 'FT Milky', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    font-size: 1.7em;
}

p {
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.bg_base {
    z-index: 1;
    background: rgba(var(--v-theme-primary));
}