name: Deploy to OVH (FTP)

on:
  push:
    branches: [ master ]   # déploie à chaque push sur main
  workflow_dispatch:      # permet un déclenchement manuel

concurrency:
  group: deploy-prod
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  attestations: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Insert API module in build
        run: |
          mv ./api ./dist/api

      - name: Setup Attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: dist/

      - name: Setup Artefact
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist/

      - name: Deploy via FTP to OVH
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server:   ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port:     ${{ secrets.FTP_PORT || 21 }}
          local-dir: dist/
          server-dir: ${{ secrets.FTP_DIR || '/www/' }}
          # supprime les anciens fichiers pour éviter les artefacts
          dangerous-clean-slate: true